p {
  font-family: Arial;
}

h1 {
  color: maroon;
}

.title {
  color: teal;
}

.uppercase {
  text-transform: uppercase;
}

.cursive {
  font-family: cursive;
}

.capitalize {
  text-transform: capitalize;
}

.publish-time {
  color: gray;
}

h2.destination {
  font-family: cursive;
}


 <h2 class="destination">1. Florence, Italy</h2>


/* In CSS, it's possible to have two or more CSS selectors at the same time from the HTML element. If the tag has a class attribute, it can be written as shown in example h2.destination. */
